# Forces users to use a verified working version of node/npm
# engine-strict = true
# Forces pinned dependency installs
save-exact = true
# Allows non-root user to run scripts, preventing intermittent file system errors
unsafe-perm = false
